<div class="container">

    <div class="panel users">

        <app-adduser></app-adduser>
        <app-users (clearDetails)="clearDetails()"></app-users>

    </div>

    <div class="panel notes">
        <app-addnotes></app-addnotes>
        <app-notes (showDetails)="showDetails($event)" (clearDetails)="clearDetails()"></app-notes>
    </div>

    <div class="panel details">
        <div *ngIf="note">
            <div class="infoNotes">{{note.name}}</div>
            <div class="infoDesc">{{note.desc}}</div>
        </div>

    </div>

</div>