<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="users panel">
            <app-adduser></app-adduser>
            <app-users></app-users>
    </div>
    <div class="notes panel">
        <app-addnotes></app-addnotes>
        <app-notes (showDetails)="showDetails($event)"></app-notes>
    </div>
    <div class="panel">
        <h3>details</h3>
        <div *ngIf="note">
            <h4>{{note.name}}</h4>
            <p>{{note.desc}}</p>
        </div>
    </div>
</div>

